@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- Utilities Start--- */
/* -------------------- */
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  background: #e02c6d;
  padding: 10px 30px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  width: fit-content;
  position: relative;
}
.btn i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*----------- Utilities End--- */
/* -------------------- */

/*----------- Banner Start--- */
/* -------------------- */
#banner {
  background: #0f0e27;
}
#banner:hover .btn i {
  color: #0f0e27;
  animation: float 2s linear infinite;
  transition: 0.2s ease-in-out;
}
#banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
#banner .container .banner-left {
  font-size: 60px;
  width: 100%;
}
#banner .container .banner-left h1 {
  font-size: 60px;
  color: white;
  line-height: 80px;
  margin-bottom: 20px;
}
#banner .container .banner-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#banner .container .banner-right img {
  width: 85%;
  height: 100%;
  object-fit: contain;
}
/*----------- Banner End--- */
/* -------------------- */

/*----------- Gallary Section Start--- */
/* ------------------------------- */
#gallary .players {
  padding: 80px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#gallary .players .player {
  padding: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
#gallary .players .player h2 {
  font-size: 28px;
  text-transform: capitalize;
  margin: 16px 0;
  color: #18191f;
}
#gallary .players .player p {
  margin-bottom: 16px;
  line-height: 26px;
  font-size: 16px;
  color: #6c6c6c;
}
/*----------- Gallary Section End--- */
/* ------------------------------- */

/*----------- Contact Section Start--- */
/* ------------------------------- */
#contact {
  background: #18191f;
}
#contact .container {
  padding: 80px 50px;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-gap: 20px;
}
#contact .container .contact-left {
  padding: 10px;
  padding-right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.55),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);
}
#contact .container .contact-left img {
  margin-bottom: 20px;
}
#contact .container .contact-left .contact-info .contact {
  display: flex;
  color: grey;
  font-size: 17px;
  margin-bottom: 20px;
}
#contact .container .contact-left .contact-info .contact i {
  margin-right: 10px;
  color: #e02c6d;
  font-size: 20px;
}
#contact .container .contact-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#contact .container .contact-right .more-info {
  padding: 20px 0 0 20px;
}
#contact .container .contact-right .more-info h3 {
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#contact .container .contact-right .more-info li {
  margin-bottom: 10px;
}
#contact .container .contact-right .more-info li a {
  color: grey;
  font-size: 14px;
  text-transform: capitalize;
}
#contact .container .contact-right .more-info li a:hover {
  color: #e02c6d;
}
/*----------- Contact Section End--- */
/* ------------------------------- */

/*----------- Footer Section Start--- */
/* ------------------------------- */
#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
#footer .container img {
  width: 400px;
}
#footer .container ul {
  display: flex;
  list-style: none;
  margin: 30px 0;
}
#footer .container li {
  margin: 0 8px;
}
#footer .container li a {
  color: #969bab;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: rgba(11, 13, 23, 0.1);
}
#footer .container p {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
/*----------- Footer Section End--- */
/* ------------------------------- */

/*----------- Key Frames Start--- */
/* -------------------- */
@keyframes float {
  0% {
    right: 20px;
  }
  50% {
    right: 16px;
  }
  100% {
    right: 20px;
  }
}
/*----------- Key Frames End--- */
/* -------------------- */

/*-----------Media For Mobile Start--- */
/* -------------------- */
@media (max-width: 688px) {
  #banner .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 15px;
  }
  #banner .container .banner-left {
    font-size: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #banner .container .banner-left h1 {
    font-size: 30px;
    color: white;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #banner .container .banner-right {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #banner .container .banner-right img {
    width: 100%;
    height: 80%;
  }
  /* Media For Mobile Gallary */
  #gallary .players {
    padding: 30px 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  /* Media For Mobile Gallary */

  /* Media For Mobile Contact */
  #contact .container {
    padding: 30px 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  #contact .container .contact-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  /* Media For Mobile Contact */

  /* Media For Mobile Footer */
  #footer .container {
    padding: 30px 0;
  }
  #footer .container img {
    width: 280px;
  }
  /* Media For Mobile Footer */
}
/*-----------Media For Mobile End--- */
/* -------------------- */
